/vendor
.tmp/
.vscode
.phpdoc
node_modules/
config/.env
docs/
.vscode/
.phpunit.result.cache
/SafePHP-Logs
/Checksums
Summary_of_checksum.pdf
acmephp.phar
acmephp.phar.pubkey
config.yml
/config/jwt/private.pem
/src/CaptchaHandler/*.pem
composer.lock